<ion-header>
  <ion-toolbar>
    <ion-title>produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nome:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descricao:</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="stacked">Validade:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="stacked">Preco:</ion-label>
    <ion-input ></ion-input>
  </ion-item>

</ion-content>
