<ion-header [translucent]="true">
  <ion-toolbar color="v">
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Nome:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descricao:</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="stacked">Validade:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="stacked">Preco:</ion-label>
    <ion-input ></ion-input>
  </ion-item>


</ion-content>
